table a.btn{
  margin-top: 0;
}

table a.btn{
  margin-top: 0;
  border: 0.5px solid;
}



.item img{
  display: block;
  width: 100%;
  height: auto;
}
.item{
  width: 300px;
  margin: 0 auto;
}

.description{
  margin-top: 10px;
}


    /* Links */
     h1.blog-title {
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 900;
          text-shadow: -1px -1px 0 #3A4145,
              1px -1px 0 #3A4145,
              -1px 1px 0 #3A4145,
              1px 1px 0 #3A4145;
     }
     h2.blog-description {
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 700;  
        text-stroke: -1px -1px 0 #3A4145,
              1px -1px 0 #3A4145,
              -1px 1px 0 #3A4145,
              1px 1px 0 #3A4145;
          }
     a:hover {
         color: #b6b84c;
     }

     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #b6b84c;
     }
     a.fn-item:hover {
          color: #ced067;
     }

     /* Content / Sections */
     .post-holder.odd {
          background: #e2f5c9;
          color:#3A4145
     }
     .post-holder {
          background: #f2efe8;
     }
     body {
          color: #3A4145;
          font-family: 'Noto Sans TC', sans-serif;
          }
     }

     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #22343A;
     }

/************************************
timeline
************************************/

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #444;
    top: 0;
    bottom: 0;
    left: 10%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .timeline .container {
    padding: 10px 10px 10px 40px;
    margin-top: 10px;
    position: relative;
    /* background-color: gray; */
    width: auto;
    left: 10%;
  }
  /* The circles on the timeline */
  .timeline .container::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -12px;
    background-color: rgb(159, 229, 149);
    border: 4px solid #444;
    top: 0px;
    border-radius: 50%;
    z-index: 1;
  }
  /* date display */
  .timeline .container .date {
    position: absolute;
    top: 22px;
    z-index: 1;
    left: -10%;
    font-size: large;
  }
  
  /* Add arrows to the right container (pointing left) */
  .timeline .container::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 30px;
    width: 0;
    z-index: 1;
    left: 26px;
    border: medium solid rgb(159, 229, 149);
    border-width: 13px 13px 13px 0px;
    border-color: rgb(159, 229, 149) rgb(159, 229, 149) transparent transparent;
  }
  /* The actual content */
  .timeline .content {
    box-shadow: 0 0 3px 3px rgb(159, 229, 149);;
    background-color: white;
    position: relative;
    border-radius: 6px;
    transition: box-shadow 0.3s;
  }
  
  /* small shadow change on hover*/
  .timeline .content:hover {
    box-shadow: 0 0 3px 4px rgb(159, 229, 149);;
  }
  
  /* card title format */
  .timeline .content .title {
    padding: 5px 20px;
    font-weight: bold;
    display: inline-block;
  }
  
  /* time moment format*/
  .timeline .content .moment {
    color: #c41a16;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
  }
  
  /* body size */
  .timeline .content .body {
    padding: 5px 20px;
  }
  
  /* responsive for small devices*/
  @media screen and (max-width: 480px) {
    .timeline .container {
      width:auto
      padding: 10px 10px 0px 40px;
      left: 5%;
    }
    .timeline .container::after {
      left: 3px;
    }
    .timeline .content .body {
      padding: 5px 5px;
    }
    .timeline .content .moment {
      position: relative;
    }
  }

#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 1.75rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
  resize: vertical;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
  cursor: pointer;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale select[name="district"],
#fs-frm fieldset.locale input[name="section"],
#fs-frm fieldset.locale input[name="section_small"],
#fs-frm fieldset.locale input[name="field_number"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="section"],
#fs-frm fieldset.locale input[name="section_small"] {
  width: 45%;
}
#fs-frm fieldset.locale select[name="district"],
#fs-frm fieldset.locale input[name="field_number"] {
  width: 35%;
}

#fs-frm .checkbox-custom label,
#fs-frm .checkbox-custom.row label {
  font-size: 1.95rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

#fs-frm input[disabled] {
  background-color: #CCCCCC;
}

/* Style the container */
.form {
  border-radius: 5px;
  background-color: #e2f5c9;
  padding-right: 20px;
}