<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en{{ end }}">
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
    <meta name="description" content="金門縣水土保持技師服務團"/>
    <meta name="keywords" content="水土保持, 水保, 金門, 服務團, 水土保持技師"/>
    <meta name="referrer" content="no-referrer-when-downgrade" />
  	<meta name="author"      content="{{ .Site.Author }}">

    {{ partial "head/head.html" . }}
  </head>
  
  <body class="home">

    {{ block "header" . }}
      {{ partial "head/header.html" . }}
    {{ end }}
 
    {{ block "main" . }}
    {{ end }}
    
    {{ block "footer" . }}
      {{ partial "footer/footer.html" . }}
    {{ end }}
  </body>
  
</html>