{{ if gt (len .Site.Data.clients) 0 }}
<section class="bar background-gray no-mb">
    <div class="container">
        <div class="item">
            {{ range .Site.Data.clients }}
              {{ if .url }}
                <a href="{{ .url }}" target="_blank">
                <img src="{{ .image }}" alt="{{ .name }}" />
                </a>
              {{ else }}
                <img src="{{ .image }}" alt="{{ .name }}" />
              {{ end }}
              <div class="description" style="text-align:center">{{ .descr }}</div>
              <br>
            {{ end }}
                <!-- /.owl-carousel -->
        </div>  
    </div>
</section>
{{ end }}